<!DOCTYPE html>
<html>
<head>
  <title>Cori Allen</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico'%>
</head>
<body>


<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
